@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    cursor: pointer;
    padding: 10px 35px;
    background-color: orange;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.burger {
    display: none;
    cursor: pointer;
    width: 45px;
}

.header {
    padding: 30px 0;
    background-color: #fff;

}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
}

.header__logo {
    max-width: 100px;
}

.header__list {
    display: flex;
    gap: 100px;
}

.header__list-item {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    transition: opacity 0.3s;
}

.header__list-item:hover {
    opacity: 0.7;
}

.open {
    display: flex !important;
}

.header__burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.header__burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #333;
}

.header__burger::before,
.header__burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #333;
    transition: all 0.3s ease 0s;
}

.header__burger::before {
    top: 0
}

.header__burger::after {
    bottom: 0
}


/* Добавляем класс active для анимации иконки бургера */
.header__burger.active span {
    transform: scale(0)
}

.header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.header__burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}



.hero {
    padding: 200px 0;
    background: url('../img/bg.png') no-repeat center;
    background-size: cover;
}

.hero__text {
    color: #fff;
}

.hero__title {
    margin-bottom: 15px;
    font-size: 64px;
}

.hero__subtitle {
    margin-bottom: 30px;
    font-size: 40px;
}

.hero__button {
    display: inline-block;
    text-decoration: none;
    padding: 15px 40px;
}

.product {
    padding: 100px 0;
    background-color: #EDEDED;
    text-align: center;
}

.product__title {
    margin-bottom: 42px;
    font-size: 48px;
}

.product__desc {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 30px;
}

.product__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.product__card {
    max-width: 300px;
    padding: 0 20px 15px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product__img {
    width: 100%;
}

.product__card-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
}

.product__card-desc {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
}

.product__price {
    margin-bottom: 15px;
    font-size: 24px;
    opacity: 0.7;
}

.footer {
    padding: 30px 0;
    background-color: #333;
    text-align: center;
}

.footer p {
    color: #fff;
}


@media (max-width: 1090px) {
    .product__wrapper {
        justify-content: center;
    }
}

@media (max-width: 850px) {
    .header__list {
        gap: 50px;
    }

    .header__list-item {
        font-size: 16px;
    }

    .hero__title {
        font-size: 40px;
    }

    .hero__subtitle {
        font-size: 24px;
    }

}

@media (max-width: 738px) {
    .header__wrapper {
        gap: 50px;
    }

    .product__title {
        font-size: 24px;
    }

    .product__desc {
        font-size: 16px;
    }

    .product__card {
        max-width: 250px;
    }
}

@media (max-width: 650px) {
    .header__burger {
        display: flex;
        color: #fff;
    }

    .header__wrapper {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 100px 40px;
        background-color: black;
        animation: burgerAnimation 0.4s;
    }

    .header__list {
        flex-direction: column;
        row-gap: 30px;
    }

    .header__list-item {
        color: #fff;
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    .hero {
        padding: 100px 0;
    }

    .product {
        padding: 60px 0;
    }

    .product__desc {
        text-align: justify;
    }

    .product__card-title {
        font-size: 20px;
    }

    .product__card-desc {
        font-size: 16px;
    }

    .footer p {
        font-size: 12px;
    }
}

@keyframes burgerAnimation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}